# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# dotenv mechanism to provide AWS-defined values to integration tests
.env
.DS_Store
.idea
src/mapping-templates-js/*
