<html>
  <body>
    <h2>Welcome to the {{portalName}}</h2>
    <p>You are receiving this email because your address was submitted for registration with this portal.</p>
    <p>If you did not request registration, please disregard this email.</p>
    <p>Please use these credentials to <a href="{{loginUrl}}">login</a>:</p>
    <ul>
      <li>Username: {username}</li>
      <li>Password: {####}</li>
    </ul>
    <hr/>
    <a href="{{loginUrl}}">{{loginUrl}}</a>
  </body>
</html>